
import(grDevices)
import(graphics)
import(misc3d)
import(rgl)
import(stats)
import(tcltk)
import(utils)

export(counts.box)
export(in.box)
export(prim.box)
export(prim.combine)
export(prim.hdr)
#export(prim.thresh.mixt.dd)
export(prim.which.box)

S3method(plot, prim)
S3method(predict, prim)
S3method(summary, prim)


             
